* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: rgb(246, 196, 139); /* Solid background color */
  background: linear-gradient(
    90deg,
    rgba(120, 255, 42, 0.2) 40%,
    rgba(120, 255, 42, 0.1) 50%,
    rgba(248, 242, 235, 1) 100%
  );
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Fokus membagi yang kiri dulu */
.kiri {
  width: 50%;
  text-align: center;
  padding: 20px;
  margin-top: -50px; /* Menambahkan margin-top untuk menggeser ke atas */
}

.kiri h2 {
  font-size: 2.3rem;
  margin-bottom: 2rem;
}

.kiri p {
  font-size: 1.5rem;
}

.dots {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.dot {
  display: inline-block;
  margin: 0 10px;
  width: 20px; /* Adjust size as needed */
  height: 20px; /* Adjust size as needed */
  background-color: black;
  border-radius: 50%;
}

.hollow,
.small-hollow {
  background-color: transparent;
  border: solid black;
}

.hollow {
  border-width: 5px;
}

.small-hollow {
  border-width: 5px;
}

.active {
  height: 10px;
  width: 10px;
  background-color: #000000;
  border-radius: 50%;
  margin: 0 5px;
}

/* Setelah itu fokus yang kanan */

.kanan {
  width: 50%;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 40px;
}

.kanan h2 {
  font-size: 2rem;
  margin-bottom: 3rem;
}

.logo {
  width: 80px;
  margin-bottom: 20px;
}

h2 {
  color: #333;
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: 700;
}

.input-group {
  margin-bottom: 50px;
  text-align: left;
}

label {
  display: block;
  color: #888;
  font-size: 12px;
  margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 5px;
  border: none;
  border-bottom: 1px solid #000000;
  font-size: 14px;
  background-color: transparent; /* Menghilangkan warna latar belakang */
  outline: none; /* Remove the black box outline */
  font-size: 1rem;
  font-weight: 600;
}

.forgot-password {
  display: block;
  text-align: right;
  font-size: 1rem;
  color: #28a745;
  text-decoration: none;
  margin-top: 5px;
  margin-bottom: 2rem;
}

.forgot-password:hover {
  color: #28a745;
  font-weight: bold;
  text-decoration: underline;
}

.sign-in-btn {
  background-color: #292727;
  color: #fff;
  padding: 10px;
  padding-top: 17.5px;
  padding-bottom: 17.5px;
  border: none;
  border-radius: 15px;
  width: 35%;
  cursor: pointer;
  margin-top: 30px;
  font-size: 1.2rem;
  font-weight: 600;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease,
    box-shadow 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.sign-in-btn:hover {
  background-color: #1e90ff; /* Mengganti warna hover menjadi biru */
  color: #fff; /* Mengganti warna teks hover menjadi putih */
  transform: scale(1.05);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.or-divider {
  display: flex;
  align-items: center;
  justify-content: center; /* Menambahkan properti ini untuk memposisikan ke tengah */
  margin: 20px 0;
  margin-top: 50px;
  color: #000;
  font-weight: bold;
  font-size: 14px;
}

.or-divider::before,
.or-divider::after {
  content: "";
  flex: 0.4; /* Mempertahankan panjang garis */
  height: 1.6px;
  background: #000; /* Warna garis hitam */
  margin: 0 10px;
}

.google-sign-in {
  justify-content: center;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 10px;
  width: 40%;
  cursor: pointer;
  font-size: 14px;
  margin-bottom: 20px;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease,
    box-shadow 0.3s ease;
}

.google-sign-in:hover {
  transform: scale(1.02);
}

.google-sign-in:hover img {
  transform: rotate(-360deg);
  transition: transform 0.5s ease;
}

.google-sign-in img,
.google-sign-in p {
  width: 20px;
  margin-right: 10px;
  position: relative;
  top: 5px;
}

.new-user {
  font-size: 12px;
}

.new-user a {
  color: #28a745;
  text-decoration: none;
  font-weight: bold;
}

.new-user a:hover {
  color: #28a745;
  font-weight: bold;
  text-decoration: underline;
}
